#DOCKER IGNORE FILES ACORDING TO: https://docs.docker.com/engine/reference/builder/#dockerignore-file

#FOLDERS ====================
.git/
local/
node_modules/
extensions_unziped/
session/
utils/
src/
configs/
scripts/
assets/

# #FILES ======================
.editorconfig
.env.example
commitlint.config.js
README.MD
package-lock.json
tsconfig.json
pnpm-lock.yaml
Dockerfile
