#DOCKER IGNORE FILES ACORDING TO: https://docs.docker.com/engine/reference/builder/#dockerignore-file

#FOLDERS ====================
.git/
local/
node_modules/

#DEV ========================
src/
tests/
extensions_unziped/
configs/
scripts/
utils/

#FILES ======================
.editorconfig
.env.example
.gitignore
commitlint.config.js
jest.config.ts
readme.MD
tsconfig.json
