#DOCKER IGNORE FILES ACORDING TO: https://docs.docker.com/engine/reference/builder/#dockerignore-file

#FOLDERS ====================
.git/
local/
node_modules/
extensions_unziped/
# dist/

#DEV ========================
# src/
# configs/
# scripts/
# utils/

# #FILES ======================
.editorconfig
.env.example
jest.config.ts
commitlint.config.js
readme.MD
# .gitignore
# tsconfig.json
