#GIT IGNORE ACORDING TO: https://git-scm.com/docs/gitignore

#FOLDERS =======================================================================
node_modules/
dist/
local/
session/
extensions_unziped/
.git/
.husky/


#FILES =========================================================================
.env
