#GIT IGNORE ACORDING TO: https://git-scm.com/docs/gitignore

#FOLDERS =======================================================================
node_modules/
dist/
local/
.git/
.husky/
extensions_unziped/

#FILES =========================================================================
.env
