#GIT IGNORE ACORDING TO: https://git-scm.com/docs/gitignore

#FOLDERS =======================================================================
node_modules/
logs/
dist/
local/
.git/
.husky/

#FILES =========================================================================
.env
